<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>I2C</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--Skeleton -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <!--Flexlide -->
  <link rel="stylesheet" href="bower_components/flexslider/flexslider.css">
  <!--Vertical-Timeline-->
  <link rel="stylesheet" href="vertical-timeline/css/style.css">
  <!--FancyBox-->
  <link rel="stylesheet" href="bower_components/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <!--Style -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <a href="http://ifest-uajy.com">
    <section id="header">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <div class="ifest-header">
              <img class="ifest-logo" src="logo-ifest.png" alt="" />
              <h1 class="header-text">Informatics Festival</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </a>

  <section id="menu">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
            <a href="index.html#header" class="logo">
                <img class="i2c-logo" src="img/logo.png" alt="" />
            </a>
            <nav class="navigation">
                <ul>
                  <li class="nav"><a class="menu-link" href="index.html#about"><span class="text-link">TENTANG I2C</span></a></li>
                  <li class="nav"><a class="menu-link" href="index.html#category"><span class="text-link">KATEGORI LOMBA</span></a></li>
                  <!--ekajul <li class="nav"><a class="menu-link" href="index.html#rule"><span class="text-link">KETENTUAN LOMBA</span></a></li>-->
                  <li class="nav"><a class="menu-link" href="index.html#winner"><span class="text-link">HADIAH</span></a></li>
                  <li class="nav"><a class="menu-link" href="index.html#timeline"><span class="text-link">JADWAL</span></a></li>
                  <!--ekajul <li class="nav"><a class="menu-link" href="index.html#winner-profile"><span class="text-link">PEMENANG TAHUN LALU</span></a></li>
                  <li class="nav"><a class="menu-link" href="index.html#registration"><span class="text-link">PENDAFTARAN</span></a></li>
                  <li class="nav"><a class="menu-link" href="#"><span class="text-link">AREA PESERTA</span></a></li>-->
                </ul>
            </nav>
        </div>
      </div>
    </div>
  </section>

  <section id="form-header">
    <div class="container">
        <div class="twelve columns">
            <div class="form-title">
                Pendaftaran I2C
            </div>
            <ul class="breadcrumb-list">
              <li><a href="index.html">Home</a></li> >
              <li>Pendaftaran</li>
            </ul>
        </div>
    </div>
  </section>

  <section ng-app="registerApp" ng-controller="registerCtrl" id="form">
    <div class="container">
        <div class="twelve columns">
          <div id="registration-form">
              <div class="content">
                  <div class="form-box">
                    <form ng-submit="registerSubmit()" class="form-registration">
                        <div class="form-row">
                            <label>Email</label>
                            <input ng-model="formData.email" type="email" name="email" value="" required="">
                            <span ng-show="errors.email[0]" class="error-msg">{{errors.email[0]}}</span>
                        </div>
                        <div class="form-row">
                            <label>Nama Tim</label>
                            <input ng-model="formData.name" type="text" name="name" value="" required="">
                            <span ng-show="errors.name[0]" class="error-msg">{{errors.name[0]}}</span>
                        </div>
                        <div class="form-row">
                            <label>Kata Sandi</label>
                            <input ng-model="formData.password" type="password" name="password" value="" required="">
                        </div>
                        <!--ekajul<div class="form-row">
                            <label>Kata Sandi(konfirmasi)</label>
                            <input type="password" name="confirmation" value="" required="">
                        </div>-->
                        <div class="form-row">
                            <label>No Telepon</label>
                            <input ng-model="formData.phone" type="text" name="phone" value="" required="">
                        </div>
                        <div class="form-row">
                            <label>Kategori Lomba</label>
                            <!--ekajul<div class="form-row">
                               <input class="radio-category" type="radio" name="category" value="1" checked>Ide Aplikasi
                            </div>-->
                            <div class="form-row">
                               <input class="radio-category" type="radio" name="i2c_category_id" value="2" checked required="">Atma Trailer
                            </div>
                        </div>
                        <!--<div class="form-row" id="school-form">
                            <label>Asal Sekolah</label>
                            <input ng-model="formData.origin" type="text" name="origin" value="" required="">
                        </div>-->
                        <div class="form-row">
                            <button type="submit">{{ button }}</button>
                        </div>
                    </form>
                  </div>
              </div>
          </div>
        </div>
        <!--<div class="six columns">
            <h2>Syarat & Ketentuan</h2>
            <ol class="term-service">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
            </ol>
        </div>
      -->
    </div>
  </section>

  <section id="footer">
      <div class="container">
          <div class="row">
              <div class="six columns">
                  <h2>Contact Person</h2>
                  <p>+62 817 5066 108 (Andreas)</p>
                  <p>+62 878 3992 2155 (Dio)</p>
              </div>
              <div class="six columns">
                  <h2>Follow Us</h2>
                  <a href="http://line.me/ti/p/~@ykb1847q"><img class="icon-img" src="img/line-icon.png" alt=""></a>
                  <a href="https://www.instagram.com/ifest_uajy/"><img class="icon-img" src="img/ig-icon.png" alt=""></a>
              </div>
          </div>
      </div>
  </section>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="vertical-timeline/js/main.js"></script>
<script type="text/javascript" src="vertical-timeline/js/modernizr.js"></script>
<script type="text/javascript" src="bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="js/animation.js"></script>

<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script>

var registerApp = angular.module("registerApp", []);
registerApp.controller("registerCtrl", function($scope, $http, $window) {
  
  $scope.formData = {};
  $scope.errors = {};

  $scope.button = "DAFTAR";

  $scope.registerSubmit = function () {

    $scope.formData['i2c_category_id'] = 2;
    $scope.errors = {};

    $scope.button = "MENDAFTAR..."

    $http({
      method  : 'POST',
      url     : 'http://localhost:8000/v1/i2c',
      data    : $.param($scope.formData),
      headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
     })
    .then(function(data) {
      if (!data.data.data.hasOwnProperty('exception')) {
        $window.location.href = 'pendaftaran-berhasil.html';
      }else{
        $scope.errors = data.data.data.original.errors[0];
        $scope.button = "DAFTAR";
      }
    });
  }
});

</script>

</body>
</html>
